body {  
    margin: 0;
    padding: 0;
    background-color: #2a2b31;
    font-family: Arial, sans-serif;
}

.welcome-container {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/welcomeImage.jpg');  
    /* background-size: fixed; */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 50px; 
    box-sizing: border-box;
}

.welcome-content {
    text-align: center;
    background-color: #f7d09676; 
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
    color: #45220d;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #763b16;
}

.welcome-buttons button {
    background-color: #45220d;
    color: #f7d196;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
