.write-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.action-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #763b16;
    border: none;
    border-radius: 8px;
    color: #f7d196;
}
  
  .entries-container {
    margin-top: 20px;
  }
  
  .entry-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .new-entry-form {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .new-entry-form .form-group {
    margin-bottom: 15px;
  }
  
  .new-entry-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .new-entry-form input,
  .new-entry-form textarea,
  .new-entry-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .text-tools button,
  .text-tools select {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #763b16;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45220d;
  }
  